# This file contains all requirements needed for GAM development work

# Include all build requirements
-r requirements.txt

# Dev-specific requirements
pre-commit
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
